body {
  background-color: aquamarine;
  text-align: center;
  margin-top: 30vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.firstSection {
  margin-bottom: 5px;
}

.header {
  display: flex;
  justify-content: center;
}
.headerBox {
  font-size: 26px;
  width: 250px;
  background-color: #48f0a2;
  padding: 10px;
  border-radius: 15px;
}
.fourthSection {
  text-align: center;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-items: center;
}
.numberButton {
  display: flex;
  flex-direction: column;
  background-color: #15d77d;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  justify-content: center;
  align-content: center;
  align-self: center;
  /* w3schools  */
  /* padding: 5px 5px; */
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  color: #043b06;
  /* background-color: #04aa6d; */
  border: none;
  /* border-radius: 15px; */
  box-shadow: 3px 3px #999;
}

.numberButton:hover {
  background-color: #3e8e41;
}

.numberButton:active {
  background-color: #3e8e41;
  box-shadow: 3px 3px #666;
  transform: translateY(4px);
}

.numberButtonActive {
  background-color: #3e8e41;
  box-shadow: 3px 3px #666;
  transform: translateY(4px);
}
