body {
  background-color: aquamarine;
  text-align: center;
  margin-top: 30vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.firstSection {
  margin-bottom: 6px;
}

.header {
  display: flex;
  justify-content: center;
}
.headerBox {
  font-size: 26px;
  width: 250px;
  background-color: #48f0a2;
  padding: 10px;
  border-radius: 15px;
}
.fourthSection {
  text-align: center;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}
.numberButton {
  display: flex;
  flex-direction: column;
  background-color: #15d77d;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  justify-content: center;
  align-content: center;
  align-self: center;
}
